{% extends 'base.html' %}
{% load static %}
{% block title %}Photography{% endblock title %}

{% block content %}

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'posts_list' %}">Flora</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'store' %}">Poetry/Writings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog' %}">Beach</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Art</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'password_change' user.id %}">Account Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'password_change' user.id %}">Cart</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <h1>Photography</h1>
    <h3>Click below to check out some art</h3>
    {% for post in post_list %}

<div class="centered">
    <section class="cards">
        <article class="card">
            <h2>Image 01</h2>
            <p>TUX re-inventing the wheel, and move the needle. Feature creep dogpile that but diversify kpis but market-facing.</p>
        </article><!-- /card-template -->
        <article class="card">
            <div class="card-content">
                <h2>Image 02</h2>
                <p>TUX re-inventing the wheel, and move the needle. Feature creep dogpile that but diversify kpis but market-facing.</p>
            </div><!-- .card-content -->
         </article><!-- /card-template -->
         <article class="card">
            <h2>Image 03</h2>
            <p>TUX re-inventing the wheel, and move the needle. Feature creep dogpile that but diversify kpis but market-facing.</p>
         </article><!-- /card-template -->
         <article class="card">
            <h2>Image 04</h2>
            <p>TUX re-inventing the wheel, and move the needle. Feature creep dogpile that but diversify kpis but market-facing.</p>
         </article><!-- /card-template -->
         <article class="card">
            <h2>Image 05</h2>
            <p>TUX re-inventing the wheel, and move the needle. Feature creep dogpile that but diversify kpis but market-facing.</p>
         </article><!-- /card-template -->
         <article class="card">
            <h2>Image 06</h2>
            <p>TUX re-inventing the wheel, and move the needle. Feature creep dogpile that but diversify kpis but market-facing.</p>
         </article><!-- /card-template -->
         <article class="card">
            <h2>Image 07</h2>
            <p>TUX re-inventing the wheel, and move the needle. Feature creep dogpile that but diversify kpis but market-facing.</p>
         </article><!-- /card-template -->
         <article class="card">
            <h2>Image 08</h2>
            <p>TUX re-inventing the wheel, and move the needle. Feature creep dogpile that but diversify kpis but market-facing.</p>
         </article><!-- /card-template -->
         
    </section>
</div>




    {% endfor %}
    {% endblock content %}