{% extends 'base.html' %}
{% load static %}
{% block title%}Log In{% endblock title %}

{% block content %}
<div class="registration">
    <div class="reg-box-container">
        <div class="reg-header">
            <h1>Log In</h1>
        </div>
        <div class="reg-main">
            <form method="POST">
                <div class="registration-form"
                    <div class="reg-main">
                        {% csrf_token %}
                        {{ form.as_p }}  
                    </div>
                    <div class="form-buttons">
                        <input type="submit" value="Log In" class="btn input-btn btn-dark">
                        <a class="btn back-btn btn-dark" href="{% url 'home_firstpage' %}">Back</a>
                    </div>
                </div>
            </form>
        <div>
    </div>
</div>

{% endblock content %}