{% extends 'base.html' %}
{% load static %}

{% block title%}Password Change{% endblock title %}

{% block content %}
<div class="registration">
    <div class="reg-box-container">
        <div class="reg-header">
            <h1>Password Change Form</h1>
        </div>
        <div class="reg-main">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Password Change" class="btn btn-success">
            </form>
            <div class="warning">
                <h6 class="password-warning">Password Resets / Changes cannot be undone once submitted.</h6>
            </div>
        </div>
    </div>
</div>

{% endblock content %}