{% extends 'base.html' %} 
{% load static %}

{% block title%}Password Change Success{% endblock title %}

{% block content %}
<div class="registration">
    <div class="reg-box-container">
        <div class="reg-header">
            <h1>Thank you for updating your account! </h1>
        </div>
        <div class="reg-main">
            <h5 class="reg-main-pwd">Your password was successfully changed. </h5>
            <h5>To complete the update to your account, please <a class="here-btn" href="{% url 'logout' %}">log out</a> and log back in.</h5>
        </div>
        <div class="pwd-change-mistake">
            <h6>We want you to know that keeping your account safe is our top priority. If there was a mistake resetting or changing your password, please contact our security support team here: <a href="#">Security Support Team</a></h6>
        </div>
    </div>
</div>
{% endblock content %}
