{% extends 'base.html' %}
{% load static %}

{% block title%}Password Change{% endblock title %}

{% block content %}
<div class="registration">
    <div class="reg-box-container">
        <div class="reg-header">
            <h1>Password Change Form</h1>
        </div>
        <div class="reg-main">
            <div class="registration-form">
                <form method="POST">
                    <div class="form-main">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="form-buttons">
                        <input type="submit" value="Password Change" class="btn btn-success">
                    </div>
                </form>
            </div>
            <div class="warning">
                <h6 class="password-warning">Password Resets / Changes cannot be undone once submitted.</h6>
            </div>
        </div>
    </div>
</div>

{% endblock content %}