{% extends 'base.html' %}
{% load static %}
{% block title%}User Profile{% endblock title %}

{% block content %}



<div class="user_profile">
    <div class="user-header">
        <div class="user-image">
            <img src="{{user.account.get_image_url}}" width="200px" alt="userimg" class="user-img">
        </div>
        <div class="username">
            <h1>Username: {{user.get_username}}</h1>
            <h2>Email: {{user.account.email}}</h2>
            <h2>About: {{user.account.about}}</h2>
        </div>
        <div class="user-main">
            <h2>Update your account <a class="btn btn-info"
                    href="{% url 'user_profile_update' user.account.id %}">here</a>
            </h2>
        </div>
    </div>
</div>


{% endblock content %}