{% extends 'base.html' %}
{% load static %}
{% block title %}Photography{% endblock title %}

{% block content %}

<body>
    <div class="photo-header">
        <h1>Photography</h1>
        <h3>Click below to check out some art</h3> 
    </div>
    

    <nav class="navbar navbar-expand-lg navbar-dark photo-navbar">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Flora</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Poetry/Writings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Beach</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Art</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    {% for post in image_img %}

    <div class="card">
        <div class="card-body profile">
            <h3>
                <a href="{% url 'content_detail' post.id %}">{{ post.title }}</a>
            </h3>
            <h5 class="card-title">Post #{{ image.id }}</h5>
            <div class="item">
                <!-- <img class="lazy" src="{% static 'IMG/mushrooms.JPG'%}" height="300"> -->
            </div>
            <h6 class="card-subtitle mb-2 text-muted">{{ image.title }}</h6>
            <p class="card-text">{{ image.text|truncatechars:512 }}</p>
            <a href="{% url 'content_detail' post.id %}" class="btn btn-primary">Continue
                Reading...</a> |
        </div>
    </div>

    {% endfor %}
    {% endblock content %}