{% extends 'base.html' %}
{% load static %}
{% block title %}Photography{% endblock title %}

{% block content %}

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'content_list' %}">Flora</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'store' %}">Poetry/Writings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog' %}">Beach</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Art</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'password_change' user.id %}">Account Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'password_change' user.id %}">Cart</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <h1>Photography</h1>
    <h3>Click below to check out some art</h3>

    {% for image in image_img %}

    <div class="card">
        <div class="card-body profile">
            <h3>
                <a href="{% url 'content_detail' image.id %}">{{ image.title }}</a>
            </h3>
            <h5 class="card-title">Post #{{ image.id }}</h5>
            <div class="item">
                <img class="lazy" src="{% static 'IMG/mushrooms.JPG'%}" height="300">
            </div>
            <h6 class="card-subtitle mb-2 text-muted">{{ image.title }}</h6>
            <p class="card-text">{{ image.text|truncatechars:512 }}</p>
            <a href="{% url 'content_detail' image.id %}" class="btn btn-primary">Continue
                Reading...</a> |
        </div>
    </div>

    {% endfor %}
    {% endblock content %}