/* ABOUT PAGE */
.about-me-header{
    padding: 30px; 
    padding-bottom: 40px; 
    color: rgba(255, 255, 255, 0.9); 
}
.about-me-container{
    display: flex; 
    flex-direction: row;
    padding-bottom: 50px; 
    padding-top: 50px; 
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    margin-bottom: 10px; 
}
.about-me-image img{
    max-height: 400px;
    box-shadow: 0px 0px 65px -20px rgba(255, 255, 255, 0.70);
}
.about-me-details{
    background-color: rgba(255, 255, 255, 0.85);
    color: black; 
    margin-left: 5%;
    width: 400px;  
    padding: 30px; 
}
.about-me-details h5{
    padding-top: 25px; 
    padding-bottom: 10px; 
}
.about-me-details a{
    text-decoration: none;
    color: black;
}
.about-me-details a:hover{
    color: white; 
    background-color: black;
    padding: 5px; 
    border: 1px solid red; 
}
.about-icons{
    margin-top: 10px;
}
.about-icons img{    
    max-height: 30px;
    color: white; 
    margin: 40px; 
}
.about-me-contact{
    background-color: rgba(255, 255, 255, 0.85);
    margin-left: 20%; 
    margin-right: 20%; 
    color: black; 
}
.about-me-contact h6{
    padding: 1%;  
    letter-spacing: 1.5px;
    word-spacing: 5px;
}
.about-me-contact:hover{
    border: 2px solid red; 
    color: white; 
    background-color: black;
    padding: 5px; 
}