.btn{
    border-radius: 0;
    border: 1px solid white; 
    color: white; 
}
.homepage{
    min-height: 800px;
}
.homepage-contents{
    text-align: center;
}
.image-header{
    color: rgb(235, 235, 235);
    margin-bottom: 150px; 
}
.image-header img{
    margin-bottom: -57px;
    min-height: 50px;
    max-height: 300px;
}
.image-header h3{
    line-height: 1px; 
}
.homepage-button-container{
    min-height: 70px;
}
span{
    border-left: white 1px solid; 
    margin-left: 50px;
    margin-right: 50px;
    min-height: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.homepage-button{
    text-transform: uppercase;
    border: white 1px solid; 
    width: 170px; 
    height: 40px;
    padding-top: 6px;
}
.homepage-button:hover{
    box-shadow: 2px 2px 25px 2px rgba(255, 255, 255, 0.6);
}
.homepage-icons{
    margin-top: 80px;
}
.homepage-icons img{    
    max-height: 30px;
    color: white; 
    margin: 40px; 
}
@media (max-width:768px) {
    .navbar{
        display: none;
    }
    .homepage{
        margin-top: 20px; 
    }
    .homepage-button-container{
        display: flex;
        flex-direction: column;
    }
    .image-header{
        margin-bottom: 70px; 
    }
    .homepage-button-container span{
        border-top: white 1px solid; 
        margin-top: 50px;
        margin-bottom: -20px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-left: none;
    }
    .homepage-button{
        width: 110px; 
        height: 30px;
        padding-top: 3px;
        margin-left: 43%; 
    }
    .homepage-icons{
        margin-top: 40px;
    }
    .homepage-icons img{  
        margin: 20px; 
    }

}
@media (max-width:768px){
    .homepage-button{
        margin-left: 36%; 
    }
}
