@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    text-align: center;
    margin: 0;
    min-height: 500px;
    font-family: 'Special Elite', cursive;
    background: black url(https://images.pexels.com/photos/7538746/pexels-photo-7538746.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) repeat local 0 0;
}
input{
    border-radius: 0;
    border: 1px solid white;  
}
nav{
    margin-bottom: 20px;
}
.navbar{
    background-color: black;
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.navbar li{
    padding-left: 20px; 
}
.login-settings{
    display: flex; 
    flex-direction: row;
    float: right;
    list-style: none;
    position: relative;
    margin-bottom: 0;
    margin-left: auto; 
}
.dropdown-toggle{
    padding-top: 15%; 
}
.dropdown-menu{
    border-radius: 0;
}
.cart-btn{
    background-color: black;
}
.footer{
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 20px;
    padding-bottom: 18px;
    margin-top: 50px;
    color: black; 
}