.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
    
 }
 .card {
       box-sizing: border-box;
       margin: 1rem .25em;
       flex: 0 1 calc(25% - 1em);
       
        
 }