
.reg-header{
    padding-top: 30px; 
    color: rgba(255, 255, 255, 0.9); 
}
.reg-main{
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 20%; 
    margin-right: 20%; 
    margin-top: 50px; 
    padding: 5%; 
    color: black; 
    font-size: 20px;
    margin-bottom: 17%;  
    align-items: center;
}
.registration-form{
    display: flex; 
    flex-direction: column;
}
.form-buttons{
    flex-direction: row;
    align-items: center;
    max-width: 200px;
    margin-left: 40%;
}
/* Buttons */
.reg-main .btn{
    background-color: black;
    border: none; 
    color: white; 
    margin: 3px; 
    margin-top: 20px; 
    letter-spacing: 1.5px;
}
.reg-main .input-btn:hover{
    background-color: rgb(3, 110, 3);
    color: black; 
}
.reg-main .back-btn:hover{
    background-color: red;
    color: black; 
}
.here-btn:hover{
    color: white; 
    background-color: black;
    padding: 5px; 
    border: 1px solid red; 
}
.here-btn{
    text-decoration: none;
    color: black; 
}
label{
    margin-left: 10%; 
    float: left; 
    width: 250px; 
    text-align: right; 
}
input{
    float: left; 
    margin: 1%; 
}
/* helptext is the class for the small text next to the input form boxes */
.helptext::before{
    /* content and whitespace adds a new line for smaller text */
    content: "\A"; 
    white-space: pre;
}
.helptext{
    font-size: 10px;
    display: inline-block; 
    border: none; 
    margin-top: 0px;
    padding: 0px; 
    margin-bottom: -35px; 
    color: rgb(116, 115, 115); 
    max-width: 300px;
    margin-right: -40px; 
}
.helptext:hover{
    color: black; 
    font-size: 15px;
}
/* Password Warnings */
.warning{
    color: rgb(219, 0, 0); 
    letter-spacing: 1.5;
    word-spacing: 2;
    margin-top: 15px; 
}
.pwd-change-mistake{
    background-color: black;
    border: 2px solid rgba(255, 0, 0, 0.6); 
    margin-top: 20px; 
    margin-right: 20%; 
    margin-left: 20%; 
    color: white; 
    padding: 10px; 
}
.reg-main-pwd{
    padding-bottom: 30px; 
}
.reg-main-pwd a{
    text-decoration: none;
    color: black; 
}
.account-main{
    font-size: 15px;
    display: flex; 
    flex-direction: column;
    width: 70%; 
}
.account-buttons{
    flex-direction: row;
    align-items: center;
    max-width: 300px;
    margin-left: 45%;
}