{% extends 'base.html' %}
{% load static %}

{% block title %}About thedeWolfe {% endblock title %}

{% block content%}
<div>
    <h1 class="about-me-header">WELCOME TO MY SLICE OF THE INTERNET</h1>
    <div class="about-me-container">
        <div class="about-me-image">
            <img src="{% static 'IMG/AboutMe01.jpeg'%}" alt="aboutme" class="aboutme-img">
        </div>
        <div class="about-me-details">
            <h5>Welcome! I am de Wolfe. </h5>
            <h5>Read the captions under my posts</h5>
            <h5>Take time to enjoy perusing my <a href="{% url 'content_list' %}">galleries</a>
            </h5>
            <h5>I'm going places, perhaps I'll see you along the way...</h5>
        </div>
    </div>
    <div class="about-me-contact">
        <a>
            <h6>Let's talk about any ideas you have to achieve the piece of your dreams!</h6>
        </a>
    </div>
    <div class="about-icons">
        <img src="{% static 'IMG/facebook.png'%}" alt="facebook" class="socials">
        <img src="{% static 'IMG/twitter.png'%}" alt="facebook" class="socials">
        <img src="{% static 'IMG/deviantart.png'%}" alt="facebook" class="socials">
    </div>
</div>
{% endblock content %}









[PASTEL] Mushrooms

WE 'RE MADE OF STARS

I hope this day

is as excellent to you

as you are to the world

Pixel sparkle divider