{% extends "base.html" %}
{% load static %}

{% block title %}Home Page/Login Success{% endblock title %}


{% block content %}
<div class="registration">
    <div class="reg-box-container">
        <div class="reg-header">
            <h1>Welcome to your home page, user!</h1>
        </div>
        <div class="reg-main">
            <h5> First Section </h5>
            <h5> Second Section </h5>
        </div>
    </div>
    <div class="homepage-icons">
        <img src="{% static 'IMG/facebook.png'%}" alt="facebook" class="socials">
        <img src="{% static 'IMG/twitter.png'%}" alt="facebook" class="socials">
        <img src="{% static 'IMG/deviantart.png'%}" alt="facebook" class="socials">
    </div>
</div>
{% endblock content %}