{% extends "base.html" %}
{% load static %}

{% block title %}Home Page/No Account{% endblock title %}


{% block content %}
<div class="homepage">
    <div class="homepage-contents">
        <div class="image-header">
            <img src="{% static 'IMG/palm_tree.png'%}" alt="palm tree" class="tree-img">
        </div>
        <div class="homepage-button-container">
            <a href="{% url 'signup' %}"><button class="homepage-button">Sign Up</button></a>
            <span></span>
            <a href="{% url 'login' %}"><button class="homepage-button">Login</button></a>
        </div>   
        <div class="homepage-icons">
            <img src="{% static 'IMG/facebook.png'%}" alt="facebook" class="socials">
            <img src="{% static 'IMG/twitter.png'%}" alt="facebook" class="socials">
            <img src="{% static 'IMG/deviantart.png'%}" alt="facebook" class="socials">
        </div>
    </div>
</div>
{% endblock content %}