{% extends "base.html" %}
{% load static %}

{% block title %}Home Page/Login Success{% endblock title %}


{% block content %}
<div class="registration">

    <div class="reg-box-container">
        <div class="reg-header">
            <h1 class="homepage_header">Welcome to your home page, {{ user.get_username }}!</h1>
        </div>
        <div class="map-header">
            <img src="{% static 'IMG/beaches_map.jpeg'%}" alt="palm tree" class="tree-img">
        </div>
        <div class="homepage-main">
            <div class="homepage-image">
                <img src="{% static 'IMG/palm_tree.png'%}" alt="palm tree" class="tree-img">
            </div>
            <div class="homepage-sections">
                <img src="{% static 'IMG/visit_graph.jpeg'%}" alt="graph" class="graph-img">
            </div>
        </div>
    </div>
    <div class="homepage-icons">
        <img src="{% static 'IMG/facebook.png'%}" alt="facebook" class="socials">
        <img src="{% static 'IMG/twitter.png'%}" alt="facebook" class="socials">
        <img src="{% static 'IMG/deviantart.png'%}" alt="facebook" class="socials">
    </div>
</div>
{% endblock content %}