{% extends 'base.html' %}
{% load static %}

{% block title %}Cart{% endblock title %}

{% block content%}
<div class="card-contain">
    <div class="CartContainer">
        <div class="cart-header">
            <h3 class="cart-heading">Checkout</h3>
            <h5 class="cart-action">Remove all</h5>
        </div>

        <div class="cart-items-sub">
              <div class="image-box">
                <img src="https://www.tripsavvy.com/thmb/FwmQ-JvBEBDDlVb-j_zdEo0iVsA=/2048x1152/smart/filters:no_upscale()/beach-5b59c9b7c9e77c004b3e0ff0.jpg" class="image-box">
              </div>
              <div class="cart-about">
                  <h1 class="cart-title">Photography</h1>
                  <h3 class="cart-subtitle">Flora</h3>
              </div>
              <div class="cart-counter">
                <div class="cart-btn-main">+</div>
                <div class="cart-count">1</div>
                <div class="cart-btn-main">-</div>
              </div>
              <div class="cart-prices">
                  <div class="cart-amount">$2.99</div>
                  <div class="cart-save"><u>Save for later</u></div>
                  <div class="cart-remove"><u>Remove</u></div>
              </div>
        </div>

        <div class="cart-items-sub pad">
              <div class="image-box">
                <img src="https://www.tripsavvy.com/thmb/FwmQ-JvBEBDDlVb-j_zdEo0iVsA=/2048x1152/smart/filters:no_upscale()/beach-5b59c9b7c9e77c004b3e0ff0.jpg" class="image-box">
              </div>
              <div class="cart-about">
                  <h1 class="cart-title">Photography</h1>
                  <h3 class="cart-subtitle">Beach</h3>
              </div>
              <div class="cart-counter">
                  <div class="cart-btn-main">+</div>
                  <div class="cart-count">1</div>
                  <div class="cart-btn-main">-</div>
              </div>
              <div class="cart-prices">
                  <div class="cart-amount">$3.19</div>
                  <div class="cart-save"><u>Save for later</u></div>
                  <div class="cart-remove"><u>Remove</u></div>
              </div>
        </div>
      <hr> 
      <div class="checkout">
      <div class="main-cart-total">
          <div>
              <div class="cart-subtotal">Sub-Total</div>
              <div class="cart-subtotal-items">2 items</div>
          </div>
          <div class="cart-total-amount">$6.18</div>
      </div>
      <a class="btn cart-btn btn-primary" href="{% url 'checkout'  %}">Checkout</a></div>
 </div>
</div>
   
{% endblock content %}