{% extends 'base.html' %}
{% load static %}

{% block title %}Checkout{% endblock title %}

{% block content%}
<div class='container'>
    <div class='window'>
      <div class='order-info'>
        <div class='order-info-content'>
          <h2>Order Summary</h2>
                  <div class='line'></div>
          <table class='order-table'>
            <tbody>
              <tr>
                <td><img src='https://dl.dropboxusercontent.com/s/sim84r2xfedj99n/%24_32.JPG' class='full-width'></img>
                </td>
                <td>
                  <br> <span class='thin'>Beach</span>
                  <br> Beach Portrait<br> 
                </td>
  
              </tr>
              <tr>
                <td>
                  <div class='price'>$2.95</div>
                </td>
              </tr>
            </tbody>
  
          </table>
          <div class='line'></div>
          <table class='order-table'>
            <tbody>
              <tr>
                <td><img src='https://dl.dropboxusercontent.com/s/qbj9tsbvthqq72c/Vintage-20L-Backpack-by-Fj%C3%A4llr%C3%A4ven.jpg' class='full-width'></img>
                </td>
                <td>
                  <br> <span class='thin'>Flora</span>
                  <br>Flora Picture<br> 
                </td>
              </tr>
              <tr>
                <td>
                  <div class='price'>$5.95</div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class='line'></div>
          <table class='order-table'>
            <tbody>
              <tr>
                <td><img src='https://dl.dropboxusercontent.com/s/nbr4koso8dpoggs/6136C1p5FjL._SL1500_.jpg' class='full-width'></img>
                </td>
                <td>
                  <br> <span class='thin'>Beach</span>
                  <br>Playa Hermosa<br>
                </td>
  
              </tr>
              <tr>
                <td>
                  <div class='price'>$5.95</div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class='line'></div>
          <div class='checkout-total'>
            <span style='float:left;'>
              <div class='thin dense'>Tax 19%</div>
              <div class='thin dense'>Delivery</div>
              TOTAL
            </span>
            <span style='float:right; text-align:right;'>
              <div class='thin dense'>$3.75</div>
              <div class='thin dense'>$4.95</div>
              $23.55
            </span>
          </div>
  </div>
  </div>
          <div class='credit-info'>
            <div class='credit-info-content'>
              <table class='half-input-table'>
                <tr><td>Please select your card: </td><td><div class='dropdown' id='card-dropdown'><div class='dropdown-btn' id='current-card'>Visa</div>
                  <div class='dropdown-select'>
                  <ul>
                    <li>Master Card</li>
                    <li>American Express</li>
                    </ul></div>
                  </div>
                 </td></tr>
              </table>
              <img src='https://dl.dropboxusercontent.com/s/ubamyu6mzov5c80/visa_logo%20%281%29.png' height='80' class='credit-card-image' id='credit-card-image'></img>
              Card Number
              <input class='input-field'></input>
              Card Holder
              <input class='input-field'></input>
              <table class='half-input-table'>
                <tr>
                  <td> Expires
                    <input class='input-field'></input>
                  </td>
                  <td>CVC
                    <input class='input-field'></input>
                  </td>
                </tr>
              </table>
              <button class='pay-btn'>Pay Now</button>
  
            </div>
  
          </div>
        </div>
  </div>
{% endblock content %}