{% extends 'base.html' %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'CSS/store.css' %}"> -->
{% block title %}Store {% endblock title %}

{% block content%}
<div class="store">
    <div class="store-header">
        <h1>Welcome to the Store!</h1>
        <p>Here you will find art and photography for purchase!</p>
    </div>
    
    <div class="store-container">
        <div class="store-item">
            <div class="store-item-image">
                <img class="thumbnail" src="{% static 'IMG/store/placeholder.jpg' %}">
            </div>
            <div class="store-item-desc">
                <h2>Item #1</h2>
                <h3>Item Description</h3>
                <h4>$20</h4>
            </div>
            <div class="add-cart">
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-primary" href="#">View</a>
            </div>
        </div>
        <div class="store-item">
            <div class="store-item-image">
                <img class="thumbnail" src="{% static 'IMG/store/placeholder.jpg' %}">
            </div>
            <div class="store-item-desc">
                <h2>Item #2</h2>
                <h3>Item Description</h3>
                <h4>$20</h4>
            </div>
            <div class="add-cart">
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-primary" href="#">View</a>
            </div>
        </div>
        <div class="store-item">
            <div class="store-item-image">
                <img class="thumbnail" src="{% static 'IMG/store/placeholder.jpg' %}">
            </div>
            <div class="store-item-desc">
                <h2>Item #3</h2>
                <h3>Item Description</h3>
                <h4>$20</h4>
            </div>
            <div class="add-cart">
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-primary" href="#">View</a>
            </div>
        </div>
        <div class="store-item">
            <div class="store-item-image">
                <img class="thumbnail" src="{% static 'IMG/store/placeholder.jpg' %}">
            </div>
            <div class="store-item-desc">
                <h2>Item #4</h2>
                <h3>Item Description</h3>
                <h4>$20</h4>
            </div>
            <div class="add-cart">
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-primary" href="#">View</a>
            </div>
        </div>
        <div class="store-item">
            <div class="store-item-image">
                <img class="thumbnail" src="{% static 'IMG/store/placeholder.jpg' %}">
            </div>
            <div class="store-item-desc">
                <h2>Item #5</h2>
                <h3>Item Description</h3>
                <h4>$20</h4>
            </div>
            <div class="add-cart">
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-primary" href="#">View</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}