{% extends 'base.html' %}
{% load static %}
{% block title %}{{ content.title }}{% endblock title %}

{% block content %}
<div class="card" style="padding: 10; margin: 10px; width: 60%;">
    <div class="card-body">
        <h3>
            <a href="{% url 'content_detail' content.id %}">{{ content.title }}</a>
        </h3>
        <h5 class="card-title">Post #{{ content.id }}</h5>
        <small>Category: {{ content.theme }}</small>
        <h6 class="card-subtitle mb-2 text-muted">{{ content.title }}</h6>
        <p class="card-text">{{ content.text|truncatechars:512 }}</p>
        <a href="{% url 'content_detail' content.id %}" class="btn btn-primary">Continue Reading...</a> |
    </div>
</div>
{% endblock content %}