{% extends 'base.html' %}
{% load static %}
{% block title %}Photography{% endblock title %}

{% block content %}

<body>
    <div class="photo-header">
        <h1 class="main_header">Beaches</h1>
        <h3>Click on an image below to explore Costa Rica!</h3>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <p class="title_head">Playas del Coco</p>
                <div class="item">
                    <a href="{% url 'coco_list' %}">
                        <img class="lazy" src="{% static 'IMG/mushrooms.JPG'%}" height="300">
                    </a>
                </div>
            </div>
            <div class="col">
                <p class="title_head">Playa Ocotal</p>
                <div class="item">
                    <a href="{% url 'ocotal_list' %}">
                        <img class="lazy" src="{% static 'IMG/overlook1.JPG'%}" height="300">
                    </a>
                </div>
            </div>
            <div class="col">
                <p class="title_head">Playa Hermosa</p>
                <div class="item">
                    <a href="{% url 'hermosa_list' %}">
                        <img class="lazy" src="{% static 'IMG/2022bench.JPG'%}" height="300">
                    </a>
                </div>
            </div>
            <div class="col">
                <p class="title_head poetry_head">Marino Ballena</p>
                <div class="item">
                    <a href="{% url 'ballena_list' %}">
                        <img class="lazy" src="{% static 'IMG/overlook1.JPG'%}" height="300">
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}